@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Lobster:400,900);
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

* { 
    margin: 0;
    padding: 0px;
} 

body { 
    background: #ffffff; 
    margin: 0; 
    height: 100%; 
    font-family: 'Nunito Sans', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 400;
    font-size: 1.75rem;
 
    }

h1, h2, h3, h4, h5, h6 {
    color: #428bca;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top:50px;
}

img {
    height: auto;
    max-width: 100%;
}

.centered {
    text-align: center
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #98256d;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #98256d;
    background-color: transparent;
}

.navbar-default {
    background-color: #F7F7F7;
    border-color: transparent;
}

.dropdown-menu {
    background: #F7F7F7;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn-app:hover {
  color: yellow !important;
}

}
/*################################################################
    SITE WRAPS
################################################################# */


/* Testimonials Wrap */

#twrapback {
    background-color: rgba(41, 61, 149, 0.93);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#twrap {
    background-color: rgba(41, 61, 149, 0.93);
    position: relative;
    margin-top: 100px;
    padding-top:60px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    background-color: #2a3d95;
    min-height: 450px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
}

#twrap p {
    color: white;
    font-size: 15px;
    line-height: 30px;
}


/* Footer */
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F7F7F7;
}



#footerwrap i {
    font-size: 30px;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #98256d
}

/* General Tweaks */

#blue {
    background: #98256d;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#blue h3 {
    color: white;
    margin-left: 15px;
}

/* Highlight */

.highlight {
  background-color: yellow;
}

.btn-app:hover {
  color: yellow !important;
}

.btn-app {
  border: none;
  outline: none;
  background-color: darkturquoise;
  color: white;
  cursor: pointer;
  margin:2px;
  font-weight:600 !important;
  font-size:16px !important;
  border-radius: 10px !important;
}

.btn-theme {
  color: #999;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
  color: #fff !important;
  background-color: #ffb900 !important;
  border-color: #ffb900;
}

/* Code Results */

pre {
    background-color:transparent;
    border-radius: 0px;
    width:100%;
    padding:0px;
    margin:0px;
    border: 0px !important;
}

li a {
  display:inline-block; // add this line
  vertical-align:top; // add this line
  width:100%;
}

ol.code-item {
    color: #999;
    margin-left:50px;
}

ol.code-item a {
    text-decoration: none;
    color: black;
}

ol.code-item pre {
    margin: 0px;
    padding:0px;
    border:none;
    background-color: transparent;
}

ol.code-item pre strong{
    background-color: rgba(255,255,60,0.4)
}
