{% load source_extras %}
{% if sourcefile %}<div class="code-item">
    <h5>
            <div><a href="{% url 'source:sourcefile_detail' sourcefile.id %}">{{ sourcefile.name }}</a><span> {% if sourcefile.package.name %} in </span><a href="{% url 'source:detail' sourcefile.package.name %}">{{ sourcefile.package.name }}</a>{% endif %}</div></h5>
    <div>
        <ol class="code-item">
        {% for lineno, line in sourcefile.lines %}<li id="{{ lineno }}" value="{{ lineno }}"><a href="{% url 'source:sourcefile_detail' sourcefile.id %}#{{ lineno }}"><pre>{{ line }}</pre></a></li>{% endfor %}
        </ol>
    </div>
</div>{% endif %}
